@page
@model CrimeReport.Pages.CreateCrimeReportModel
@using Models;

@{
    ViewData["Title"] = "CreateCrimeReport";
}

<h1>CreateCrimeReport</h1>
@{
    string id = new Identifier().New();
}
<h4>Crime</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Crime.Id" class="control-label"></label>
                <input asp-for="Crime.Id" class="form-control" value="@id" />
                <span asp-validation-for="Crime.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <input asp-for="Crime.PartionKey" class="form-control" value="@id" hidden />
                <span asp-validation-for="Crime.PartionKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Crime.Summary" class="control-label"></label>
                <input asp-for="Crime.Summary" class="form-control" />
                <span asp-validation-for="Crime.Summary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Crime.TypeOfCrime" class="control-label"></label>
                <select asp-for="Crime.TypeOfCrime" class="form-control" asp-items="Html.GetEnumSelectList<Models.Enums.TypeOfCrime>()"></select>
                <span asp-validation-for="Crime.TypeOfCrime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
